{% extends 'base.html.twig' %}

{% block body %}
    <section class="container mt-3">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Text2Speech API</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <button style="display: none;" class="btn btn-sm btn-success js-file-processing" disabled>Processing...</button>
                    <button class="btn btn-sm btn-success js-file-upload">Upload</button>
                    <input class="js-file-select" type="file" id="file-input" style="display:none;">
                    <button class="btn btn-sm btn-danger js-delete-audio">Delete</button>
                </div>
            </div>
        </div>

        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <th><input type="checkbox" class="js-audio-header-check"></th>
                <th width="30%">Filename</th>
                <th>Upload Date</th>
                <th>Status</th>
                <th width="25%">Actions</th>
            </thead>
            <tbody class="js-upload-list">
                {% for audioUpload in audioUploads %}
                    <tr>
                        <td><input class="js-audio-row-check" type="checkbox" value="{{ audioUpload.id }}"></td>
                        <td>{{ audioUpload.filename }}</td>
                        <td>{{ audioUpload.uploadDate|date('Y-m-d H:i:s')  }}</td>
                        <td>{{ audioUpload.statusName }}</td>
                        <td>
                            {% if audioUpload.status > 0 %}
                                <audio controls>
                                    <source src="{{ audioUpload.audioUrl }}" type="audio/wav">
                                </audio>
                            {% endif %}
                            {% if audioUpload.status > 1 %}
                                <a class="btn btn-link" href="{{ audioUpload.transcriptionUrl }}" target="_blank">Transcription</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="js-no-row">
                        <td></td>
                        <td>No audio uploads yet</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}